<div >
    <div class="form-container">
        <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" formControlName="id">
        </div>
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" formControlName="nombres">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="activo">Activo:</label>
            <input type="checkbox" id="activo" formControlName="activo">
        </div>
        <div class="form-group">
            <label for="rolId">Rol ID:</label>
            <input type="text" id="rolId" formControlName="rolId">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" formControlName="descripcion"></textarea>
        </div>
        <button type="submit">Enviar</button>
        </form>
    </div>
</div>